[user]
  email = pobega@gmail.com
  name = Michael Pobega
[color]
  ui = auto
[core]
  preloadIndex = true
  editor = vi
[sendemail]
  smtpuser = pobega@gmail.com
  smtpserver = smtp.googlemail.com
  smtpencryption = tls
  smtpserverport = 587
[includeIf "gitdir:~/Work/"]
  path = .gitconfig-work
[alias]
  resetr = !git reset @{upstream}
[http]
  cookiefile = /home/pobega/.gitcookies
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
