[user]
  email = pobega@gmail.com
  name = Michael Pobega
[color]
  ui = auto
[core]
  editor = vim
  preloadIndex = true
[sendemail]
  smtpuser = pobega@gmail.com
  smtpserver = smtp.googlemail.com
  smtpencryption = tls
  smtpserverport = 587
[includeIf "gitdir:~/Work/"]
  path = ~/Work/.gitconfig
[alias]
  resetr = !git reset @{upstream}
