[submodule "vim/.vim/bundle/vim-sleuth"]
	path = vim/.vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/.vim/bundle/gruvbox"]
	path = vim/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/.vim/bundle/jedi-vim"]
	path = vim/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
	ignore = dirty
[submodule "vim/.vim/bundle/clang_complete"]
	path = vim/.vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
	ignore = dirty
