[submodule "vim/.vim/bundle/vim-sleuth"]
	path = vim/.vim/pack/plugins/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/.vim/bundle/gruvbox"]
	path = vim/.vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/.vim/bundle/python-syntax"]
	path = vim/.vim/pack/plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "vim/.vim/bundle/vim-syntax-extra"]
	path = vim/.vim/pack/plugins/start/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "vim/.vim/pack/plugins/start/rust.vim"]
	path = vim/.vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/.vim/pack/plugins/start/supertab"]
	path = vim/.vim/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/.vim/pack/plugins/start/starlark.vim"]
	path = vim/.vim/pack/plugins/start/starlark.vim
	url = https://github.com/cappyzawa/starlark.vim
[submodule "vim/.vim/pack/plugins/start/aosp-vim"]
	path = vim/.vim/pack/plugins/start/aosp-vim
	url = https://github.com/rubberduck203/aosp-vim.git
[submodule "tmux/.tmux/tmux-resurrect"]
	path = tmux/.tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/.tmux/tmux-continuum"]
	path = tmux/.tmux/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "tmux/tmux-copycat"]
	path = tmux/.tmux/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
[submodule "tmux/.tmux/tmux-copycat"]
	path = tmux/.tmux/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
