XTerm*utf8: 1
XTerm*locale: true

XTerm*renderFont: true
XTerm*faceName: Terminus
XTerm*faceSize: 12
!XTerm*faceName: Droid Sans Mono
!XTerm*faceSize: 11

XTerm*background: rgb:26/26/26
XTerm*foreground: rgb:ff/ff/ff
XTerm*pointerColor: white
XTerm*pointerColorBackground: black
XTerm*cursorColor: yellow
XTerm*cursorBlink: true

XTerm*selectToClipboard: true

URxvt.transparent:true
URxvt:shading:10
URxvt*utf8: 1
URxvt*locale: true

URxvt*renderFont: true
URxvt*faceName: Droid Sans Mono
URxvt*faceSize: 11

URxvt*background: rgb:00/00/00
URxvt*foreground: rgb:ff/ff/ff
URxvt*pointerColor: white
URxvt*pointerColorBackground: black
URxvt*cursorColor: yellow
URxvt*cursorBlink: true

URxvt*selectToClipboard: true

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
